#navbar {
	background-color: #4E3863;
}

#navbar a {
	color: white;
}

.navbar li:hover {
	background-color: black;
}

.name {
	font-size: 40px;
	color : #4E3863;
	margin-top: 40px;
}

.form-label {
	font-size : 1.5em;
	color: black;
}

.form-head {
	text-align: center;
	font-size: 2em;
	padding-top: 40px;
	font-weight: bold;
}

.form-control {
	margin-bottom: 25px;
}

.project-name {
	font-size: 25px;
	color: black;
	display: inline;
}

.project-label {
	font-size: 25px;
	color: #4E3863;
	font-weight: bold;
		display: inline;

}

.project-img {
	width :  200%;
	display: flex;
	justify-content: center;
	align-items: center
}

.proj-data{
	padding-left : 20px;
	padding-bottom: 10px;
}

.year{
	font-size: 40px;
	margin-left: 20px;
	font-weight: bold;
}

.proj-container {
	padding-top : 30px;
	padding-bottom : 30px;
	border : solid;
	border-color: #4E3863;
	margin-bottom : 50px;
	border-radius: 6px;
}