@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'bootstrap-overrides';

$default-purple: #7b4ba8;
$gradient-purple-1: #9c59db;
$gradient-purple-2: #bb82f2;

$video-border-radius: 4px;
$img-border-radius: 4px;

$universe-grey: #686868;