@import 'base';

html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  background-color : #fbfbfb;
  overflow-x:hidden;
}

* {
	  font-family: 'Nunito', sans-serif;
}

/*.wrap {
  min-height: calc(100vh - 89px);
}*/

@import 'components/all';