.u-nav {
    background: $default-purple;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    font-size: 1.9rem;
    color: white;
    padding-left: 6rem;
    padding-right: 6rem;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__items {
        display: flex;
        margin-left: auto;
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            display: none;
        }

        &--right {
            @media only screen and (max-width: 768px) {
                margin-right: 0;
            }
        }
    }

    &__link {
        padding-right: 1rem;
        padding-left: 1rem;

        &-brand {
            font-family: 'Nunito', sans-serif;
            font-size: 2.1rem;
        }

        a {
            color: white;

            &:hover {
                color: white;
            }
        }

        &-toggle {
            display: none;

            @media only screen and (max-width: 768px) {
                align-self: flex-end;
                display: initial;
                position: absolute;
                cursor: pointer;
            }

            &-show {
                @media only screen and (max-width: 768px) {
                    display: flex;
                    margin-left: auto;
                    margin-right:auto;
                }
            }
        }
    }
}