extends ../header
block content
    include ../includes/nav.jade


    style.
        footer {
            position: absolute;
            bottom: 0;
        }

    div.row
        div.col-md-6.col-md-offset-3

            h2.text-center Which Project Do You Want To Upload?

            div.col-md-6.col-md-offset-3.choose__container
                each thing in data
                    .choose__project
                        form(action="/user/choose" method="post")
                            input(name="#{thing.html_url}" value="#{thing.name}" type="submit").choose__link