extends ../header
block content
    include ../includes/nav.jade
    style.
        footer {
            position: absolute;
            bottom: 0;
        }

        a {
            color: black;
        }

        a:hover {
            color: black;
        }

        #cont {
            margin: 20rem;
        }

    div.row
        div.container
            div.text-center#cont
                h1 
                    a(href="https://github.com/login/oauth/authorize?client_id=#{process.env['GITHUB_CLIENT_ID']}&read:org") Sign In With Github