extends ../header
div.row
    div.col-md-4.col-md-offset-4
        h1 Sign In
        form(action="" method="post")
            div.form-group
                label.form-label Username :
                input(type="text" id="username" name="username" class="form-control")
            div.form-group
                label.form-label Username :
                input(type="password" id="password" name="password" class="form-control")
                button(type="submit") Sign in