extends header 
include ./mixins/download-form-element.jade

block content
	br
	br

	div.container-fluid
		div.text-center
			div.proj-header Choose projects and get a custom VR Club Universe executable!
	div.container-fluid
		div.col-md-8.col-md-offset-2.proj-container
			form(action="/download" method="post")
				div(class="form-check" style="padding-top: 25px;")
					-var data = JSON.parse(json);
					-for(var prop in data)
						div.container-fluid
							div.year
								span(style="color : #7b4ba8; border : solid; border-color : grey; border-width : 1px;") #{prop}
							-var inner_obj = JSON.parse(data[prop])
							div(style="padding-bottom : 20px;")
								-for (var key in inner_obj["PlanetJSON"])
									+download-form-element(inner_obj["PlanetJSON"][key])
				div.text-center
					button(type="submit" class="btn btn-default") Submit

