extends header 

block content
	include ./includes/nav.jade

	style.
		footer {
			position: absolute;
			bottom: 0;
		}
	.container
		h1 Download  
	#exTab1.container
		ul.nav.nav-pills
			li.active
				a(href='#1a', data-toggle='tab') Overview
			li
				a(href='#2a', data-toggle='tab') Using nav-pills
			li
				a(href='#3a', data-toggle='tab') Applying clearfix
			li
				a(href='#4a', data-toggle='tab') Background color
			.tab-content.clearfix
				#1a.tab-pane.active
					h3 Content's background color is the same for the tab
				#2a.tab-pane
					h3
						| We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab
				#3a.tab-pane
					h3
						| We applied clearfix to the tab-content to rid of the gap between the tab and the content
				#4a.tab-pane
					h3 We use css to change the background color of the content to be equal to the tab


