
block footer
	footer
		div.container
			span Built by the VRUniverse team @ 
			a(href="vrclub.ucsd.edu").link UCSD VR Club

			span.github 
				i.fa.fa-github.fa-lg
					a(href="https://github.com/UCSDVR/VRUniverse" style="font-family : Nunito; font-size : 18px;").link   View our code on Github
