doctype html
html
	head
		title VR Club Universe
		link(rel='stylesheet', href='/public/stylesheets/style.css')
		link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		script(src="/public/javascripts/jquery-3.1.1.min.js")
		script(src="/public/javascripts/bootstrap.min.js")


	body(style="background-color : #fbfbfb;")
		div(class="navbar navbar-default" role="navigation" id="navbar")
			div.container-fluid
				div.navbar-header
					button(type="button", class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a(class="navbar-brand" href="/" style="font-size : 22px;") VR Club Universe
				div(class="navbar-collapse collapse" id="navbar-collapse")
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/about").hvr-underline-from-center About
						li
							a(href="/projects").hvr-underline-from-center Projects
						li
							a(href="/download").hvr-underline-from-center Download
						li 
							a(href="/upload").hvr-underline-from-center Upload

		block content

