doctype html
html
	head
		title VR Club Universe
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		script(src="/javascripts/jquery-3.1.1.min.js")
		script(src="/javascripts/bootstrap.min.js")


	body
		nav(class="navbar" id="navbar")
			div.container-fluid
				div.navbar-header

					button(type="button", class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar

					a(class="navbar-brand" href="/") VR Club Universe

				div(class="collapse navbar-collapse" id="#navbar-collapse")
					ul.nav.navbar-nav
						li
							a(href="/about") About
						li
							a(href="/projects") Projects
						li
							a(href="/download") Download
						li 
							a(href="/upload") Upload

	block content

