doctype html
html
	head
		title VRUniverse
		link(rel='stylesheet', href='/public/stylesheets/universe.min.css')
		link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/public/stylesheets/css/font-awesome.min.css')

		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes")
		script(src="/public/javascripts/jquery-3.1.1.min.js")
		script(src="/public/javascripts/bootstrap.min.js")
		script(src="/public/javascripts/universe.js")

	body
		block content

		include footer