extends header

block content
	head			
		div(class="video-background")
			div(class="video-foreground")
				iframe(src="https://youtu.be/eQo5MkgLEhk" frameborder="0" allowfullscreen)
		div.container-fluid
			div.row
				div.title
					p(style="font-family : monospace; font-size : 70px; ") in development™
