extends header

block content
	head			
		div(class="video-background")
			div(class="video-foreground")
				iframe(src="https://www.youtube.com/embed/RACA0ifu_5g?controls=0&showinfo=0&rel=0&autoplay=1&loop=1" frameborder="0" allowfullscreen)
		div.container-fluid
			div.row
				div.title
					p(style="font-family : monospace; font-size : 70px; ") in development™