extends ./header
block content
    include ./includes/nav.jade
    style.
        footer {
            position: absolute;
            bottom: 0;
        }

        a {
            color: black;
        }

        a:hover {
            color: black;
        }

    div.row
        div.container
            div.text-center.projects__platform
                a(href="/projects/Oculus").projects__platform-link
                  img(src='/public/images/oculusriftbutton_720.png').projects__platform-link-img
                a(href="/projects/Vive").projects__platform-link
                  img(src='/public/images/htcvivebutton.png').projects__platform-link-img
