extends ./header
block content
    include ./includes/nav.jade
    style.
        footer {
            position: absolute;
            bottom: 0;
        }

        a {
            color: black;
        }

        a:hover {
            color: black;
        }

        #cont {
            margin: 20rem;
        }

    div.row
        div.container
            div.text-center#cont
                a(href="/projects/Oculus")
                    h1 Oculus Rift
                a(href="/projects/Vive")
                    h1 HTC Vive
