extends header 

block content
	include ./includes/nav.jade
	div.container
		div.row
			div.col-md-6.col-md-offset-3
				h4.text-center Upload to the VRUniverse!
				form(action="/user/upload" method="post" style="margin-bottom : 50px;" enctype="multipart/form-data")
					div(class="form-group" style="padding-top: 25px;")
						label.form-label Project Name :
						input(type="text" class="form-control" id="name" name="project")
						div.row
							div.col-xs-6
								label.form-label Year :
								select(class="form-control" id="year" name="year")
									option 2016
									option 2017
									option 2018
							div.col-xs-6
								label.form-label Contributor Email :
								input(type="email" class="form-control" id="name" name="email")
						label.form-label Description :
						textarea(type="text" class="form-control" id="name" rows=8 name="desc")
						label.form-label Project Members : 
						input(type="text" class="form-control" id="members" name="members")
						label.form-label Tags : 
						select(name="tags" multiple class="form-control" id="tags")
							-for (let i in tags) {
								option(value="#{tags[i]['tag']}") #{tags[i]['tag']}
							-}
						label.form-label Upload an Image : 
						input(type="file" class="form-control" id="picture" name="image")

						label.form-label Upload your Executable :
						input(type="file" class="form-control" accept=".zip" id="exec" name="exec")
					div.text-center
						button(type="submit" class="btn btn-default") Submit!
	script(src="/public/javascripts/typeahead.js")
	link(href="/stylesheets/tagsinput.css")
	
	script.

		$(document).ready(function() {
			$('#tags').multiselect();
			$('#tags').hide();
		});